<div id="contact-area">
    <div class="contact-tab nes-container is-rounded with-title">
        <p class="title">Contactez-moi</p>

        <div id="close-contact" class="close-button nes-pointer">&times</div>

    </div>
</div>
