<div id="skill-area">
    <div class="skill-tab nes-container is-rounded with-title">
        <p class="title">Mes technologies</p>

        <div id="close-skill" class="close-button nes-pointer">&times</div>

    </div>
</div>
