{% block text_widget %}
    <div class="nes-field">
        <label for="name_field">Username</label>
        <input type="text" id="name_field" class="nes-input">
    </div>
{% endblock text_widget %}


{% block password_widget %}
    <div class="nes-field">
        <label for="name_field">Password</label>
        <input type="text" id="name_field" class="nes-input">
    </div>
{% endblock password_widget %}
