{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <h1>Attention</h1>

        <div>
            <img class="img-fluid" src="{{ asset('build/img/403.png') }}">
        </div>
    </div>
{% endblock body %}
