{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <h1>Oops ! Il y a un soucis</h1>

        <div>
            <img class="img-fluid" src="{{ asset('build/img/404.png') }}">
        </div>

        <h2>La page demandée n'existe pas</h2>
    </div>
{% endblock body %}
